@media screen and (max-width:1440px){
    
    .container{
        width: 100%;
    }
    .text_cont1 h1::before{
        display: none;
    }
    .text_cont1 h1::after{
        display: none;
    }
    .text_cont1 h1{
        color: #222;
        font-size: 4vw;
    }
    .text_cont1 h1 span{
        color: #00a29a;
        opacity: 1;
        animation: none;
    }
    .text_cont1 p{
        animation: none;
        opacity: 1;
        font-size: 1.5vw;
    }
}

@media screen and (max-width:1280px){
    .cont1{
        padding: 10% 0;
    }

    .text_cont2 h2{
        font-size: 3vw;
    }
    .text_cont2 p{
        font-size: 1.5vw;
    }
    /* .text_cont2{
        padding: 0 1% 0 1%;
    } */



    .cont4 .img_cont4{
        padding-left: 5%;
    }
    .cont4 .text_cont4 h2{
        font-size: 3vw;
    }
    .cont4 .text_cont4 p{
        font-size: 1.7vw;
    }

    .cont5>ul>li>h3{
        font-size: 2vw;
    }
    .cont5>ul>li>p{
        font-size: 1.4vw;
    }
    .cont5>ul>li{
        height: 280px;
    }


    .text_cont6{
        padding: 10%;
    }
    .text_cont6 p{
        font-size: 1.8vw;
    }
    .text_cont6 h2{
        font-size: 2.5vw;
    }
    .button_cont6 ul>li>a{
        font-size: 1.5vw;
    }
    .button_cont6 ul>li{
        width: 90%;
    }
}

@media screen and (max-width:1024px){

    .cont1{
        width: 100%;
        padding: 0;
    }
    .img_cont1{
        display: none;
    }
    .text_cont1{
        float: none;
        width: 100%;
        height: 60vh;
        padding: 10% 5%;
        position: relative;
        z-index: 0;
    }
    .text_cont1 h1{
        color: #fff;
        font-size: 8vw;
        text-shadow: 5px 5px 5px #aaa;
    }
    .text_cont1 h1 span{
        text-shadow: 5px 5px 5px #00716b;
    }
    .text_cont1 p{
        display: none;
    }

    .text_cont1 .img_1024{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .text_cont1 .img_1024 img{
        width: 100%;
        filter: brightness(0.5);
    }
    .text_cont1 .img_1024 .button_cont1{
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        width: 100%;
        z-index: 5;
    }
    .text_cont1 .img_1024 .button_cont1:hover + .img_cont1 img{
        transform: scale(1.1);
    }
    .text_cont1 .img_1024 .button_cont1 ul{
        width: 100%;
    }
    .text_cont1 .img_1024 .button_cont1 ul>li{
        float: left;
        background: #fff;
        line-height: 70px;
        text-align: center;
        width: 45%;
        height: 70px;
        border-radius: 10%;
        box-shadow: 0px 5px 10px #000;
        transition: all 0.5s;
        margin-left: 3%;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.guest:hover>a{
        color: #fff;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.guest:hover{
        background: #333;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.member:hover>a{
        color: #fff;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.member:hover{
        background: #333;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.guest>a{
        color: #fff;
    }
    .text_cont1 .img_1024 .button_cont1 ul>.guest{
        background: #00a29a;
    }
    .text_cont1 .img_1024 .button_cont1 ul>li>a{
        font-size: 20px;
        color: #00a29a;
    }
    
    .meeting_cont2{
        margin-top: 10%;
    }
    .cont_2{
        padding: 0;
    }
    .text_cont2{
        padding: 0 1% 0 1%;
    }
    .text_cont2 h2{
        font-size: 4vw;
    }
    .text_cont2 p{
        font-size: 2vw;
    }
    .cont3 h2{
        font-size: 4vw;
    }
    .cont3 p{
        font-size: 3vw;
    }
    .cont4 .img_cont4{
        padding-left: 5%;
    }
    .cont4 .text_cont4 h2{
        font-size: 4vw;
    }
    .cont4 .text_cont4 p{
        font-size: 1.7vw;
    }

    .cont5>ul>li>p{
        font-size: 2vw;
    }
}
/* surface */
@media screen and (max-width:912px){
    .text_cont1{
        height: 60vh;
    }
    .text_cont1 .img_1024 .button_cont1 ul>li>a{
        font-size: 30px;
        color: #00a29a;
    }
}


/* ipad */
@media screen and (max-width:820px){
    .text_cont1{
        height: 45vh;
    }
    .text_cont6{
        float: none;
        width: 100%;
        padding: 5%
    }
    .text_cont6 p{
        font-size: 2.5vw;
    }
    .text_cont6 h2{
        font-size: 4vw;
    }
    .button_cont6{
        float: none;
        width: 100%;
        padding: 0;
    }
    .button_cont6 ul>li{
        float: left;
        width: 48%;
        margin: 1%;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #333;
    }
    .button_cont6 ul>li>a{
        font-size: 3vw;
    }
}


@media screen and (max-width:768px){
    .text_cont1{
        height: 50vh;
    }
    .text_cont2{
        width: 100%;
        float: none;
        padding: 0 10%;
        text-align: center;
    }
    .img_cont2{
        width: 100%;
        padding: 0 20%;
    }
    .img_cont2 img{
        float: none;
    }
    .cont_2{
        height: 100%;
        padding: 5% 0;
    }
    .text_cont2 h2{
        font-size: 5vw;
    }
    .text_cont2 p{
        font-size: 3.5vw;
    }
    .cont5>ul>li{
        margin: 0;
        width: 48%;
        box-shadow: none;
        border: 1px solid #333;
        margin: 1%;
        background: #333;
    }
    .cont5>ul>li>h3{
        font-size: 3vw;
        color:#fff;
    }
    .cont5>ul>li>p{
        font-size: 2.5vw;
        color: #fff;
    }
    .cont5>ul>li>img{
        display: none;
    }
    .cont5>ul>li{
        height: 150px;
    }
    .text_cont6{
        float: none;
        width: 100%;
        padding: 5%
    }
    .text_cont6 p{
        font-size: 2.5vw;
    }
    .text_cont6 h2{
        font-size: 4vw;
    }
    .button_cont6{
        float: none;
        width: 100%;
        padding: 0;
    }
    .button_cont6 ul>li{
        float: left;
        width: 48%;
        margin: 1%;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #333;
    }
    .button_cont6 ul>li>a{
        font-size: 3vw;
    }
    #cont4{
        height: 25vh;
    }
    .cont4 .img_cont4{
        float: none;
        display: none;
    }
    .cont4 .text_cont4{
        float: none;
        width: 100%;
        height: inherit;
        padding: 5% 5% 15% 5%;
        text-align: center;
    }
    .cont4 .text_cont4 h2{
        font-size: 5vw;
    }
    .cont4 .text_cont4 p{
        font-size: 2.5vw;
    }
    .cont4 .button_cont4{
        width: 200px;
        height: 50px;
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 50%);
    }
}
@media screen and (max-width:600px){
    .text_cont1{
        height: 50vh;
    }
    .text_cont1 .img_1024 .button_cont1 ul>li>a{
        font-size: 20px;
        color: #00a29a;
    }
    .cont5{
        margin-top: 10%;
    }
    .cont5>ul>li{
        background: rgba(255,255,255,0.5);
        border: 0;
    }
    .cont5>ul>li{
        float: none;
        width: 70%;
        height: 200px;
        margin: 5% 15%;
        background: #fff;
    }

    .cont5>ul>li>h3{
        font-size: 6vw;
        color:#333;
        padding: 0;
    }
    .cont5>ul>li>p{
        font-size: 3.5vw;
        color: #333;
    }
    .cont5>ul>li>img{
        padding: 2%;
        border-radius: 50%;
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
}
@media screen and (max-width:480px){
    .text_cont1{
        height: 40vh;
    }
    .text_cont1 .img_1024 .button_cont1 ul>li>a{
        font-size: 5vw;
        color: #00a29a;
    }
    #cont4{
        height: 20vh;
    }
}
@media screen and (max-width:414px){
    .text_cont1{
        height: 35vh;
    }
}
@media screen and (max-width:360px){
    .text_cont1{
        height: 40vh;
    }
    #cont4{
        height: 25vh;
    }
    
}
@media screen and (max-width:320px){
    .text_cont1{
        height: 35vh;
    }
    #cont4{
        height: 25vh;
    }
    .cont4{
        height: 25vh;
    }
    .cont4 .button_cont4{
        width: 100px;
        height: 30px;
        bottom: 30%;
        right: 50%;
        transform: translate(50%, 50%);
        border-radius: 0;
    }
    .cont4 .button_cont4 a{
        display: block;
        text-align: center;
        line-height: 30px;
        font-size: 3vw;
    }
    .cont5>ul>li>h3{
        font-size: 5vw;
        color:#333;
        padding-top: 15px;
    }
    
}