@charset "UTF-8";

#contents{
    width: 100%;
}

.title{
    width: 100%;
    padding: 5% 0;
    text-align: center;
}
.title h1{
    font-family: 'GongGothicBold';
    font-size: 50px;
}
.title h1 span{
    font-family: 'GongGothicBold';
    color: #00a29a;
}
.cont_title{
    text-align: center;
}
.cont_title h2{
    font-size: 35px;
    font-family: 'GongGothicMedium';
}
.cont_title p{
    font-size: 15px;
}

.cont1{
    width: 100%;
}
.cont2{
    width: 100%;
}