@charset "UTF-8";

#wrap{
    width: 100%;
    background: linear-gradient(to right, #dbffff 0%, #fff 20%, #fff 80%, #dbffff 100%);
}

/* cont1 */
.cont1{
    width: 90%;
    padding: 10% 5%;
    overflow: hidden;
    margin: 0 auto;
}
.text_cont1 .img_1024{
    display:none;
}
.text_cont1{
    float: left;
    width: 46%;
    padding: 180px 2%;
}
.text_cont1 h1{
    font-family: 'KOTRALEAP';
    font-size: 4.9em;
    line-height: 1;
    position: relative;
    width: 100%;
    height: 140px;
    color: transparent;
}
.text_cont1 h1 span{
    font-family: 'KOTRALEAP';
    color: #00a29a;
    width: 100%;
    opacity: 0;
    animation: meetpage 2s ease-in-out forwards;
    animation-delay: 2s;
}
@keyframes meetpage{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.text_cont1 h1::before{
    content: "우리들의 첫 페이지";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: #222;
    overflow:hidden;
    animation: typing 2s steps(10);
}
.text_cont1 h1::after{
    content: "우리들의 첫 페이지";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: transparent;
    overflow:hidden;
    border-right: 1px solid black;
    animation: typing1 2s steps(10) forwards;
}
@keyframes typing{
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}
@keyframes typing1{
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
      opacity: 0;
    }
}
.text_cont1 p{
    font-size: 2em;
    padding-top: 5%;
    line-height: 1;
    opacity: 0;
    animation: meetpage 2s ease-in-out forwards;
    animation-delay: 3s;
}
.img_cont1{
    float: right;
    width: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 10%;

}
.img_cont1:hover img{
    transform: scale(1.1);
}
.img_cont1 img{
    width: 100%;
    height: 550px;
    border-radius: 10%;
    filter: brightness(0.7);
    transition: all 0.5s;
}
.img_cont1 .button_cont1{
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
}
.img_cont1 .button_cont1:hover + .img_cont1 img{
    transform: scale(1.1);
}
.img_cont1 .button_cont1 ul{
    width: 100%;
}
.img_cont1 .button_cont1 ul>li{
    float: left;
    background: #fff;
    line-height: 70px;
    text-align: center;
    width: 45%;
    height: 70px;
    border-radius: 10%;
    box-shadow: 0px 5px 10px #000;
    transition: all 0.5s;
    margin-left: 3%;
}
.img_cont1 .button_cont1 ul>.guest:hover>a{
    color: #fff;
}
.img_cont1 .button_cont1 ul>.guest:hover{
    background: #333;
}
.img_cont1 .button_cont1 ul>.member:hover>a{
    color: #fff;
}
.img_cont1 .button_cont1 ul>.member:hover{
    background: #333;
}
.img_cont1 .button_cont1 ul>.guest>a{
    color: #fff;
}
.img_cont1 .button_cont1 ul>.guest{
    background: #00d8ff;
}
.img_cont1 .button_cont1 ul>li>a{
    font-size: 20px;
    color: #00d8ff;
}

/* cont2 */

.cont2{
    overflow: hidden;
}
/* 동영상 수정예정 */

.cont_2{
    padding: 0 10%;
    width: 100%;
    height: 350px;
}
.img_cont2{
    padding: 0 1%;
    width: 48%;
}
.img_cont2 img{
    width: 100%;
    float: left;
    border-radius: 5%;
    box-shadow: 1px 1px 10px #ccc
}
.text_cont2{
    width: 48%;
    float: right;
    padding: 100px 1% 0 1%;
}
.text_cont2 h2{
    font-family: 'GongGothicMedium';
    font-size: 3em;
}
.text_cont2 h2 span{
    font-family: 'GongGothicMedium';
    color: #00d8ff;
}
.text_cont2 p{
    font-size: 1.5em;
}

/* cont3 */
.cont3{
    text-align: center;
    padding: 10% 0;
}
.cont3 h2{
    font-size: 3em;
    font-family: 'GongGothicMedium';
}
.cont3 h2 span{
    color: #00a29a;
    font-family: 'GongGothicMedium';
    transition: all 0.5s;
}
.cont3 h2:hover .korea{
    color: #f00;
}
.cont3 h2:hover .hangul{
    color: #00f;
}
.cont3 p{
    font-size: 1.5em;
}


/* cont4 */
#cont4{
    background: #333;
    width: 100%;
    height: 300px;
}
.cont4{
    color: #fff;
    overflow: hidden;
    position: relative;
}
.cont4 .img_cont4{
    float: left;
    width: 20%;
    height: 300px;
    padding: 50px 0 50px 15%;
}
.cont4 .img_cont4 img{
    height: 100%;
}
.cont4 .text_cont4{
    float: right;
    width: 65%;
    padding-top: 70px;
}
.cont4 .text_cont4 h2{
    font-size: 3.5em;
}
.cont4 .text_cont4 p{
    font-size: 1.7em;
}
.cont4 .button_cont4{
    width: 150px;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: 20%;
    right: 15%;
    border-radius: 10%;
    transition: all 0.5s;
}
.cont4 .button_cont4 a{
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
}
.cont4 .button_cont4:hover{
    background: #00a29a;
}
.cont4 .button_cont4:hover a{
    color: #fff;
}


/* cont5 */
.cont5{
    text-align: center;
    padding: 3% 0;
    overflow: hidden;
}
.cont5>ul>li{
    float: left;
    width: 23%;
    height: 300px;
    background: #fff;
    margin: 0 1%;
    box-shadow: 0px 2px 10px #333;
}
.cont5>ul>li>h3{
    padding-top: 10%;
    font-size: 2.5em;
}
.cont5>ul>li>img{
    width: 130px;
}
.cont5>ul>li>p{
    font-size: 1.5em;
}


/* cont6 */
#cont6{
    width: 100%;
    overflow: hidden;
    padding-bottom: 5%;
}

.text_cont6{
    float: left;
    text-align: center;
    width: 70%;
    padding: 120px;
}
.text_cont6 p{
    font-size: 1.8em;
}
.text_cont6 h2{
    font-size: 2.5em;
}

.button_cont6{
    float: right;
    width: 30%;
    padding-top: 80px;
    text-align: center;
}
.button_cont6 ul{
    width: 100%;
}
.button_cont6 ul>li{
    background: #fff;
    line-height: 70px;
    text-align: center;
    width: 45%;
    height: 70px;
    border-radius: 10%;
    box-shadow: 0px 5px 10px #000;
    transition: all 0.5s;
    margin-bottom: 5%;

}
.button_cont6 ul>.guest:hover>a{
    color: #fff;
}
.button_cont6 ul>.guest:hover{
    background: #333;
}
.button_cont6 ul>.member:hover>a{
    color: #fff;
}
.button_cont6 ul>.member:hover{
    background: #333;
}
.button_cont6 ul>.guest>a{
    color: #fff;
}
.button_cont6 ul>.guest{
    background: #00d8ff;
}
.button_cont6 ul>li>a{
    font-size: 20px;
    color: #00d8ff;
}




/* guide */
.guide{
    position: fixed;
    bottom: 5%;
    right: 2%;
    transition: all 0.5s;
}
.guide:hover a img{
    transform: rotateY(360deg) ;
}
.guide a img{
    transition: all 0.5s;
    width: 100px;
}
.guide a span{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    right: 50%;
    bottom: -10%;
    transform: translate(50%, 50%);
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: 'GongGothicBold';
    color: #333;
}
.guide:hover a span{
    opacity: 1;
}


/* snow */
#outer { width:100%; height:100%; position:fixed; top:0px; left:50%;
    transform:translateX(-50%); border:0px solid #fff; overflow:hidden;}
  
  .snowflake { height:100%; color: rgb(0 162 154 / 10%); font-size: 1em;
    font-family: Arial; text-shadow: 0 0 1px rgba(0,0,0,0.1); }
  
  @-webkit-keyframes snowflakes-fall {
      0% { top:-10% } 100% { top:800px }
  }
  @-webkit-keyframes snowflakes-shake {
      0%, 100% { -webkit-transform:translateX(0); transform:translateX(0) }
      50% { -webkit-transform:translateX(80px); transform:translateX(80px) }
  }
  
  @keyframes snowflakes-fall {
      0% { top:-10% } 100% { top:800px }
  }@keyframes snowflakes-shake {
      0%, 100% { transform:translateX(0) }
      50% { transform:translateX(80px) }
  }
  
  .snowflake{
      position:absolute; top:-10%; z-index:9999; -webkit-user-select:none;
      -moz-user-select:none; -ms-user-select:none; user-select:none; cursor:default;
      -webkit-animation-name:snowflakes-fall, snowflakes-shake;
      -webkit-animation-duration:10s, 3s; -webkit-animation-timing-function:linear,
      ease-in-out; -webkit-animation-iteration-count:infinite, infinite;
      -webkit-animation-play-state:running, running;animation-name:snowflakes-fall,
      snowflakes-shake; animation-duration:10s, 3s; animation-timing-function:linear,
      ease-in-out; animation-iteration-count:infinite, infinite;
      animation-play-state:running, running
  }
  
  .snowflake:nth-of-type(0) { left:1%;-webkit-animation-delay:0s, 0s; animation-delay:0s, 0s }
  .snowflake:nth-of-type(1) { left:5%;-webkit-animation-delay:1s, 1s; animation-delay:1s, 1s }
  .snowflake:nth-of-type(2) { left:10%;-webkit-animation-delay:6s, .5s; animation-delay:6s, .5s }
  .snowflake:nth-of-type(3) { left:15%;-webkit-animation-delay:4s, 2s; animation-delay:4s, 2s }
  .snowflake:nth-of-type(4) { left:20%;-webkit-animation-delay:2s, 2s; animation-delay:2s, 2s }
  .snowflake:nth-of-type(5) { left:25%;-webkit-animation-delay:8s, 3s; animation-delay:8s, 3s }
  .snowflake:nth-of-type(6) { left:30%;-webkit-animation-delay:6s, 2s; animation-delay:6s, 2s }
  .snowflake:nth-of-type(7) { left:35%;-webkit-animation-delay:9.5s, 1s; animation-delay:9.5s, 1s }
  .snowflake:nth-of-type(8) { left:40%;-webkit-animation-delay:1s,0s; animation-delay:1s, 0s }
  .snowflake:nth-of-type(9) { left:45%;-webkit-animation-delay:3s, 1.5s; animation-delay:3s, 1.5s }
  .snowflake:nth-of-type(10) { left:50%;-webkit-animation-delay:0s, 0s; animation-delay:0s, 0s }
  .snowflake:nth-of-type(11) { left:55%;-webkit-animation-delay:1s, 1s; animation-delay:1s, 1s }
  .snowflake:nth-of-type(12) { left:60%;-webkit-animation-delay:6s, .5s; animation-delay:6s, .5s }
  .snowflake:nth-of-type(13) { left:65%;-webkit-animation-delay:4s, 2s; animation-delay:4s, 2s }
  .snowflake:nth-of-type(14) { left:70%;-webkit-animation-delay:2s, 2s; animation-delay:2s, 2s }
  .snowflake:nth-of-type(15) { left:75%;-webkit-animation-delay:8s, 3s; animation-delay:8s, 3s }
  .snowflake:nth-of-type(16) { left:80%;-webkit-animation-delay:6s, 2s; animation-delay:6s, 2s }
  .snowflake:nth-of-type(17) { left:85%;-webkit-animation-delay:2.5s, 1s; animation-delay:2.5s, 1s }
  .snowflake:nth-of-type(18) { left:90%;-webkit-animation-delay:1s, 0s; animation-delay:1s, 0s }
  .snowflake:nth-of-type(19) { left:95%;-webkit-animation-delay:3s, 1.5s; animation-delay:3s, 1.5s }